In [6]:
import requests
import datetime as dt
import pandas as pd
import pyarrow


load_date = datetime.date.today() 

response = requests.get(
    "https://api.open-meteo.com/v1/forecast",
    params = {
        "latitude": 53.9,
        "longitude": 27.5667,
        "hourly": ["temperature_2m", "snowfall", "snow_depth"],
        "start_date": "2025-12-20",
        "end_date": load_date
    },    
)

response.raise_for_status()
order_data_dict = response.json()

In [10]:
filename = f"api_minsk_weather_{load_date}.csv"

df = pd.json_normalize(order_data_dict)

if len(df) > 0:
    df.to_csv(filename, sep=';')

In [13]:
df.head()

,latitude,longitude,generationtime_ms,utc_offset_seconds,timezone,timezone_abbreviation,elevation,hourly_units.time,hourly_units.temperature_2m,hourly_units.snowfall,hourly_units.snow_depth,hourly.time,hourly.temperature_2m,hourly.snowfall,hourly.snow_depth
0,53.900345,27.561417,0.140548,0,GMT,GMT,226.0,iso8601,°C,cm,m,"[2025-12-20T00:00, 2025-12-20T01:00, 2025-12-2...","[-0.5, -0.5, -0.5, -0.4, -0.3, 0.3, 0.4, 0.4, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."

In [8]:
df = pd.DataFrame({
    "datetime": order_data_dict["hourly"]["time"],
    "temperature": order_data_dict["hourly"]["temperature_2m"],
    "snowfall": order_data_dict["hourly"]["snowfall"],
    "updated_at": dt.datetime.now()
})

df.head()

           datetime  temperature  snowfall                 updated_at
0  2025-12-20T00:00         -0.5       0.0 2026-01-18 13:43:16.488389
1  2025-12-20T01:00         -0.5       0.0 2026-01-18 13:43:16.488389
2  2025-12-20T02:00         -0.5       0.0 2026-01-18 13:43:16.488389
3  2025-12-20T03:00         -0.4       0.0 2026-01-18 13:43:16.488389
4  2025-12-20T04:00         -0.3       0.0 2026-01-18 13:43:16.488389

In [22]:
df.to_csv(f"api_minsk_weather(clear)_{load_date}.csv", index=False)

In [23]:
pd.read_csv("api_minsk_weather(clear)_2026-01-16.csv")

             datetime  temperature  snowfall   update_at
0    2025-12-20T00:00         -0.5       0.0  2026-01-16
1    2025-12-20T01:00         -0.5       0.0  2026-01-16
2    2025-12-20T02:00         -0.5       0.0  2026-01-16
3    2025-12-20T03:00         -0.4       0.0  2026-01-16
4    2025-12-20T04:00         -0.3       0.0  2026-01-16
..                ...          ...       ...         ...
667  2026-01-16T19:00        -15.5       0.0  2026-01-16
668  2026-01-16T20:00        -15.8       0.0  2026-01-16
669  2026-01-16T21:00        -16.1       0.0  2026-01-16
670  2026-01-16T22:00        -16.2       0.0  2026-01-16
671  2026-01-16T23:00        -16.4       0.0  2026-01-16

[672 rows x 4 columns]